<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Georgia&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  </style>
</head>
<body>
  <div class="full-container login-page">
    <h1>Welcome to the Intern Portal</h1>
    <form action="/dashboard" method="get">
      <input type="text" placeholder="Enter your name" name="user" required>
      <input type="password" placeholder="Enter your password" required>
      <button type="submit">Login</button>
    </form>
  </div>
</body>


</html>
